# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Arithmetic expressions in Python
- AI tools used for Data Science
- Programming languages commonly utilized in Data Science

### Some of the popular languages that Data Scientists use are:

1. Python
2. C#
3. R
4. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. GGPlot
3. Seaborn
4. MatPlotLib
5. NumPy

| Data Science Tools |
----------------------
| Apache Spark |
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is a simple arithmetic expression to multiply then add integers. 
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Andrew Miller